@media screen and (max-width: 1200px) {
    .section, .testimonials, .top {
        margin: 0 auto;
        width: 100%;
    }

    .card {
        flex-direction: column;

        &__item {
            margin: 50px auto;
        }
    }

    .send {
        margin-left: auto;
        margin-right: auto;
    }

    .process {
        margin: 20px auto;
    }

    .testimonials, .testimonials__cards, .section__contacting {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .testimonials__card {
        margin-top: 50px;
    }

    .features {
        margin-top: 500px;
    }

    .process__section > div:nth-child(2) {
        left: 126px;
        top: 436px;
    }

    .process__section > div:nth-child(3) {
        left: 450px;
        top: 400px;    
    }

    .process__section > div:nth-child(4) {
        left: 126px;
        top: 736px;
    }

    .process__section > div:nth-child(5) {
        left: 450px;
        top: 708.55px;
    }

    .top__photos {
        width: 550px;
        height: 400px;
        margin: -450px calc(50% - 300px) 0;
    }

    .top__extra__heading, .header::after {
        display: none;
    }

    .top__social {
        transform: rotate(0);
        top: 20px;
        left: 120px;

    }

    .footer, .footer__nav {
        justify-content: space-between;
    }

    .header__front {
        margin-left: auto;
        margin-right: auto;
    }

    .top__arrows {
        top: -50px;
        left: 50px;
    }

    .top {
        height: 440px;
    }
}