.section__contacting {
    display: flex;
    justify-content: space-between;
}

.send {
    display: flex;
    flex-direction: column;

    & > label > .input::placeholder {
        font-weight: bold;
        font-size: 14.4px;
        color: #152032;
    }

}

.contact {
    display: flex;
    flex-direction: column;
}

.input {
    position: relative;
    margin-bottom: 18px;
    border: none;
}


.greeting__bottom {
    margin-top: 180px;
    display: flex;
    align-items: center;

    &__logo {
        width: 21px;
        height: 21px;
    }

    &__text {
        margin-left: 16px;
        font-weight: 800;
        font-size: 16px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #56CCF2;
    }
}

.hr {
    margin: 0 0 40px 0;
    border: 0;
    width: 656px;
    height: 1px;
    left: 227px;
    top: 5896px;
    background-color: #E1E1E1;
}

.social__bottom {
    margin: 53px 0 0 0;
    display: flex;
    justify-content: space-between;
    width: 192px;
}

.contact {

    &__heading {
        margin: 0;
        font-weight: 900;
        font-size: 32px;
        line-height: 140%;
        color: #253757;
    }

    &__call {
        margin: 41px 0 0 0;
        font-size: 12.6px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #334563;
    }

    &__number {
        margin: 0;
        font-weight: 900;
        font-size: 24px;
        line-height: 150%;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #56CCF2;
    }
}

.greeting__bottom-send {
    margin: 181px 0 104px;
}