.features {
    margin-top: 270px;
    overflow: hidden;
    background-color: #56CCF2;
    width: 100%;
    height: 1116px;

    &__contain-img {
        margin: -770px 0 0 300px;
        overflow: hidden;
        width: 1908.68px;
        height: 563.31px;
        transform: rotate(-65.1deg);
    }

    &__img {
        width: 2108.68px;
        object-fit: cover;
        transform: rotate(65.1deg);
    }

    &__text-section {
        margin: 198px 264px;
    }

    &__sq {
        width: 21px;
        height: 21px;
    }

    &__logo {
        margin-right: 32px;
        width: 24px;
        height: 24px;
        padding: 20px;
        background-color: #fff;
        border-radius: 50%;
    }

    &__text {
        font-size: 16px;
        color: #fff;
        width: 263px;
    }

    &__heading {
        display: flex;
    }

    &__heading__text {
        font-weight: 800;
        margin: 0 0 10px 10px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #FFF;
    }

    &__text- {
        color: #253757;
        font-weight: 900;
        font-size: 32px;

    }

    &__blok {
        margin-top: 64px;
        display: flex;
        align-items: center;
    }

    .heading {
        width: 362px;
    }
}