.header {
    z-index: 0;
    overflow: hidden;
    position: relative;
    background-color: $text-color;
    height: 848px;

    &__menu {
        justify-content: space-between;
        align-items: center;
        padding: 48px 10px 0;
        display: flex;
        max-width: 948px;
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        width: 558px;
    }

    &__logo, &__item {
        font-weight: bold;
        font-size: 16px;
        color: $header-text-color;
        text-decoration: none;
    }

    .activ {
        position: relative;
    }

    .activ::after {
        z-index: 0;
        content: "";
        position: absolute;
        width: 64px;
        height: 4px;
        left: -7px;
        top: 25px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #FCC304;
        border-radius: 32px;
    }

    &__logo {
        font-size: 32px;
    }

    &__front {
        width: 754px;
        margin: 76px calc(50% - 450px) 0;
    }

    &__heding {
        margin-bottom: 22px;
        font-weight: 900;
        font-size: 64px;
        color: $header-text-color;
    }

    &__text {
        font-size: 24px;
        color: $header-text-color;
        margin-bottom: 58px;
    }

    &__botton {
        padding: 16px 65px;
        background-color: #fff;
        font-weight: bold;
        font-size: 16px;
        border-radius: 64px;
        text-decoration: none;
        color: #253757;
    }

    &::after {
        content: "";
        position: absolute;
        transform: rotate(-65.1deg);
        background-color: #fff;
        width: 1000px;
        height: 1300px;
        top: 0;
        right: -850px;
    }
}