.top {
    position: relative;
    width: 1146px;
    height: 640px;

    &__arrows {
        position: absolute;
        top: -50px;
        left: -80px;
        width: 162.46px;
        height: 64px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #FCC304;
        border-radius: 50px;
        color: $header-text-color;
        display: flex;
        cursor: pointer;
        overflow: hidden;
    }

    &__arrow-1 {
        padding: 19px 33px;
    }

    &__arrow-2 {
        margin: 19px 33px;
    }

    &__social {
        top: -20px;
        left: 1020px;
        display: flex;
        justify-content: space-around;
        position: absolute;
        transform: rotate(90deg);
        width: 416px;

        & > a {
            color: #253757;
            text-decoration: none;
            font-weight: 800;
            font-size: 12.6px;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
    }

    &__extra {
        position: absolute;
        top: 140px;
        left: 98px;

        &__heading {
            margin-bottom: 5px;
            font-weight: 800;
            font-size: 12.6px;
            color:  $text-color;
        }

        &__text {
            font-weight: 900;
            font-size: 19.6px;
            color: $header-text-color;
            margin-top: 0;
        }
    }
}

.top__photos {
    width: 1146px;
    height: 640px;
    margin-top: -350px;
}

.greeting {
    margin: -200px auto;
    width: 742px;
    height: 187px;

    .heading {
        margin: 100px 270px;
    }

    &__logo-text {
        display: flex;
        justify-content: baseline;
    }

    &__logo {
        width: 21px;
        height: 21px;
    }

    &__heading {
        margin: 0 16px;
        font-weight: 800;
        font-size: 16px;
        color: $text-color;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    &__text {
        font-weight: 600;
        font-size: 24px;
        color: #253757;
    }
}