body {
    margin: 0;
    font-family: Muli;
}

$header-text-color: #fff;
$text-color: #56CCF2;

.section {
    width: 1146px;
    margin: 0 auto;
}

.header {
    z-index: 0;
    overflow: hidden;
    position: relative;
    background-color: $text-color;
    height: 848px;

    &__menu {
        justify-content: space-between;
        align-items: center;
        padding: 48px 10px 0;
        display: flex;
        max-width: 948px;
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        width: 558px;
    }

    &__logo, &__item {
        font-weight: bold;
        font-size: 16px;
        color: $header-text-color;
        text-decoration: none;
    }

    .activ {
        position: relative;
    }

    .activ::after {
        z-index: 0;
        content: "";
        position: absolute;
        width: 64px;
        height: 4px;
        left: -7px;
        top: 25px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #FCC304;
        border-radius: 32px;
    }

    &__logo {
        font-size: 32px;
    }

    &__front {
        width: 754px;
        margin: 76px calc(50% - 450px) 0;
    }

    &__heding {
        margin-bottom: 22px;
        font-weight: 900;
        font-size: 64px;
        color: $header-text-color;
    }

    &__text {
        font-size: 24px;
        color: $header-text-color;
        margin-bottom: 58px;
    }

    &__botton {
        padding: 16px 65px;
        background-color: #fff;
        font-weight: bold;
        font-size: 16px;
        border-radius: 64px;
        text-decoration: none;
        color: #253757;
    }

    &::after {
        content: "";
        position: absolute;
        transform: rotate(-65.1deg);
        background-color: #fff;
        width: 1000px;
        height: 1300px;
        top: 0;
        right: -800px;
    }
}

.top {
    position: relative;
    width: 1146px;
    height: 640px;

    &__arrows {
        position: absolute;
        top: -50px;
        left: -80px;
        width: 162.46px;
        height: 64px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #FCC304;
        border-radius: 50px;
        color: $header-text-color;
        display: flex;
        cursor: pointer;
    }

    &__arrow-1 {
        margin: 19px 33px;
    }

    &__arrow-2 {
        margin: 19px 33px;
    }

    &__social {
        top: 15px;
        left: 1064px;
        display: flex;
        justify-content: space-around;
        position: absolute;
        transform: rotate(90deg);
        width: 416px;

        & > a {
            color: #253757;
            text-decoration: none;
            font-weight: 800;
            font-size: 12.6px;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
    }

    &__extra {
        position: absolute;
        top: 100px;
        left: 98px;

        &__heading {
            margin-bottom: 5px;
            font-weight: 800;
            font-size: 12.6px;
            color:  $text-color;
        }

        &__text {
            font-weight: 900;
            font-size: 19.6px;
            color: $header-text-color;
            margin-top: 0;
        }
    }
}

.top__photos {
    width: 1146px;
    height: 640px;
    margin-top: -350px;
}

.greeting {
    margin: -200px auto;
    width: 742px;
    height: 187px;

    &__logo-text {
        display: flex;
        justify-content: baseline;
    }

    &__logo {
        width: 21px;
        height: 21px;
    }

    &__heading {
        margin: 0 16px;
        font-weight: 800;
        font-size: 16px;
        color: $text-color;
        letter-spacing: 2px;
    }

    &__text {
        font-weight: 600;
        font-size: 24px;
        color: #253757;
    }
}