.header__item:hover {
    color: #FCC304;
}


.header__botton:hover {
    transition: 0.5s;
    background-color: #FCC304;
}

.card__item:hover, .process__item:hover, .testimonials__card:hover {
    transition: 0.5s;
    transform: translateY(-30px);
    transform: scale(1.2);
}

.card__item:not(:hover), .process__item:not(:hover), .testimonials__card:not(:hover) {
    transition: 0.3s;
}

.button__apply:hover, .button:hover {
    transition: 0.5s;
    background-color: #FCC304;
}
