.what-we-do {
  width: 100%;
  &_title {
    text-align: center;
    font-weight: 900;
    font-size: 48px;
    margin-bottom: 130px;
  }
  &__box {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
  }
}

.card {
  width: 264px;
  height: 450px;
  margin-right: 10%;
}
.card:last-child {
  margin-right: 0;
}
.card_title {
  margin-top: 0;
  font-weight: 900;
  font-size: 19.6px;
  color: #253757;
}

.card_text {
  font-size: 16px;
  color: #253757;
}